In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../../ahmetqunay/kitap_yurdu_data.csv")

In [3]:
df.head()

,Unnamed: 0,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount
0,0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,Bu üründen 577 adet satın alınmıştır,112.0,Karton Kapak,Kitap Kağıdı,13.3 x 19.5 cm,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90
1,1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,Bu üründen 874 adet satın alınmıştır,496.0,Karton Kapak,Kitap Kağıdı,13.5 x 21 cm,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110
2,2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,Karton Kapak,1. Hm. Kağıt,19 x 27 cm,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176
3,3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,Bu üründen 154 adet satın alınmıştır,528.0,Karton Kapak,Kitap Kağıdı,10.5 x 16.5 cm,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28
4,4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,Bu üründen 218 adet satın alınmıştır,24.0,Karton Kapak,Kuşe Kağıt,25 x 25 cm,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38

In [4]:
df.drop(columns="Unnamed: 0",axis=1,inplace=True)

In [5]:
df.head()

,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount
0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,Bu üründen 577 adet satın alınmıştır,112.0,Karton Kapak,Kitap Kağıdı,13.3 x 19.5 cm,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90
1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,Bu üründen 874 adet satın alınmıştır,496.0,Karton Kapak,Kitap Kağıdı,13.5 x 21 cm,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110
2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,Karton Kapak,1. Hm. Kağıt,19 x 27 cm,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176
3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,Bu üründen 154 adet satın alınmıştır,528.0,Karton Kapak,Kitap Kağıdı,10.5 x 16.5 cm,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28
4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,Bu üründen 218 adet satın alınmıştır,24.0,Karton Kapak,Kuşe Kağıt,25 x 25 cm,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Book Name           27000 non-null  object
 1   Book Genre          27000 non-null  object
 2   Author Name         25767 non-null  object
 3   Publisher           26999 non-null  object
 4   Publish Date        26458 non-null  object
 5   Purchase Info       25529 non-null  object
 6   Page Numbers        26441 non-null  float64
 7   Cover Type          26941 non-null  object
 8   Paper Type          26931 non-null  object
 9   Size                26539 non-null  object
 10  Language            26944 non-null  object
 11  Rate                18369 non-null  float64
 12  Rating Count        18369 non-null  float64
 13  Review Count        14718 non-null  float64
 14  Fav Count           26999 non-null  float64
 15  To-Read List Count  26888 non-null  float64
 16  Price               26911 non-null  float64
 17  Discount            26683 non-null  object
dtypes: float64(7), object(11)
memory usage: 3.7+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Page Numbers,26441.0,248.009795,251.194995,1.00,120.0,200.0,320.0,13587.00
Rate,18369.0,4.643040,0.633110,1.00,4.0,5.0,5.0,5.00
Rating Count,18369.0,36.318798,248.923813,1.00,2.0,6.0,19.0,18643.00
Review Count,14718.0,21.241405,134.683412,1.00,1.0,4.0,10.0,8172.00
Fav Count,26999.0,206.625986,1046.243132,0.00,9.0,36.0,128.0,57457.00
To-Read List Count,26888.0,12.904716,45.760360,0.00,0.0,2.0,8.0,995.00
Price,26911.0,103.859889,89.635999,3.81,52.0,80.0,125.0,999.98

In [9]:
df.isnull().sum()

Book Name                 0
Book Genre                0
Author Name            1233
Publisher                 1
Publish Date            542
Purchase Info          1471
Page Numbers            559
Cover Type               59
Paper Type               69
Size                    461
Language                 56
Rate                   8631
Rating Count           8631
Review Count          12282
Fav Count                 1
To-Read List Count      112
Price                    89
Discount                317
dtype: int64

In [15]:
df.columns = df.columns.str.strip()
df.columns

Index(['Book Name', 'Book Genre', 'Author Name', 'Publisher', 'Publish Date',
       'Purchase Info', 'Page Numbers', 'Cover Type', 'Paper Type', 'Size',
       'Language', 'Rate', 'Rating Count', 'Review Count', 'Fav Count',
       'To-Read List Count', 'Price', 'Discount'],
      dtype='object')

In [16]:
def split_int(string):
    for i in string.split():
        try:
            str_to_num = int(i)
            return str_to_num
        except ValueError:
            pass
df["Purchase Info"] = df.loc[df["Purchase Info"].notnull(), "Purchase Info"].apply(split_int)

In [30]:
df.head()

,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount
0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,577.0,112.0,1.0,1.0,13.3 x 19.5 cm,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90
1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,874.0,496.0,1.0,1.0,13.5 x 21 cm,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110
2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,1.0,2.0,19 x 27 cm,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176
3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,154.0,528.0,1.0,1.0,10.5 x 16.5 cm,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28
4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,218.0,24.0,1.0,4.0,25 x 25 cm,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Book Name           27000 non-null  object
 1   Book Genre          27000 non-null  object
 2   Author Name         25767 non-null  object
 3   Publisher           26999 non-null  object
 4   Publish Date        26458 non-null  object
 5   Purchase Info       25529 non-null  float64
 6   Page Numbers        26441 non-null  float64
 7   Cover Type          26941 non-null  object
 8   Paper Type          26931 non-null  object
 9   Size                26539 non-null  object
 10  Language            26944 non-null  object
 11  Rate                18369 non-null  float64
 12  Rating Count        18369 non-null  float64
 13  Review Count        14718 non-null  float64
 14  Fav Count           26999 non-null  float64
 15  To-Read List Count  26888 non-null  float64
 16  Price               26911 non-null  float64
 17  Discount            26683 non-null  object
dtypes: float64(8), object(10)
memory usage: 3.7+ MB

In [19]:
df.nunique()

Book Name             26263
Book Genre               32
Author Name           16729
Publisher              1839
Publish Date           4246
Purchase Info          2387
Page Numbers            998
Cover Type                3
Paper Type                6
Size                    924
Language                 63
Rate                      5
Rating Count            522
Review Count            354
Fav Count              1713
To-Read List Count      367
Price                  4984
Discount                478
dtype: int64

In [20]:
df.value_counts("Cover Type")

Cover Type
Karton Kapak    25894
Ciltli           1044
Plastik             3
dtype: int64

In [21]:
cover_type_mapping = { 'Karton Kapak':1, 'Ciltli':2, 'Plastik':3}

df["Cover Type"] = df["Cover Type"].map(cover_type_mapping)
df["Cover Type"]

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
26995    2.0
26996    1.0
26997    1.0
26998    1.0
26999    1.0
Name: Cover Type, Length: 27000, dtype: float64

In [29]:
df.value_counts("Paper Type")

Paper Type
1.0    22695
2.0     2287
3.0      913
4.0      753
5.0      177
6.0      106
dtype: int64

In [28]:
paper_type_mapping = { 'Kitap Kağıdı':1, '1. Hm. Kağıt':2, '3. Hm. Kağıt':3, 'Kuşe Kağıt':4, 'Şamuha Kağıt':5, '2. Hm. Kağıt':6}

df["Paper Type"] = df["Paper Type"].map(paper_type_mapping)
df["Paper Type"]

0        1.0
1        1.0
2        2.0
3        1.0
4        4.0
        ...
26995    1.0
26996    6.0
26997    1.0
26998    1.0
26999    1.0
Name: Paper Type, Length: 27000, dtype: float64

0         NaN
1        21.0
2        19.0
3         NaN
4        25.0
         ...
26995     NaN
26996     NaN
26997    21.0
26998    21.0
26999    21.0
Name: Size, Length: 26539, dtype: float64

In [54]:
def split_float(string):
    for i in string.split():
        str = string.split()
        try:
            return float(str[0])*float(str[2])
        except ValueError:
            pass

In [55]:
split_float(df.loc[1,"Size"])

283.5

In [56]:
df["Size"] = df.loc[df["Size"].notnull(), "Size"].apply(split_float)

In [57]:
df.head()

,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount
0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,577.0,112.0,1.0,1.0,259.35,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90
1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,874.0,496.0,1.0,1.0,283.50,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110
2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,1.0,2.0,513.00,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176
3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,154.0,528.0,1.0,1.0,173.25,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28
4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,218.0,24.0,1.0,4.0,625.00,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38

In [62]:
df.value_counts("Language").head(10)

Language
TÜRKÇE              25577
İNGİLİZCE             558
ARAPÇA                166
ARAPÇA,TÜRKÇE         124
İNGİLİZCE,TÜRKÇE       74
ALMANCA                68
FRANSIZCA              58
KÜRTÇE                 55
OSMANLICA,TÜRKÇE       36
İTALYANCA              29
dtype: int64

In [59]:
import datetime
import os

In [78]:
today = datetime.datetime.now().date()
def time_passed(publish_date):
    rd = datetime.datetime.strptime(publish_date, "%d/%m/%Y").date()
    time_since_publ = (today-rd).days
    return(time_since_publ)

In [79]:
df['Time Since Publication'] = df.loc[df["Publish Date"].notnull(), "Publish Date"].apply(time_passed)

In [80]:
df.head()

,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount,Time Since Publication
0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,577.0,112.0,1.0,1.0,259.35,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90,393.0
1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,874.0,496.0,1.0,1.0,283.50,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110,588.0
2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,1.0,2.0,513.00,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176,77.0
3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,154.0,528.0,1.0,1.0,173.25,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28,2682.0
4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,218.0,24.0,1.0,4.0,625.00,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38,1244.0

In [103]:
df.value_counts("Language").head(30)

Language
TÜRKÇE                                25577
İNGİLİZCE                               558
ARAPÇA                                  166
ARAPÇA,TÜRKÇE                           124
İNGİLİZCE,TÜRKÇE                         74
ALMANCA                                  68
FRANSIZCA                                58
KÜRTÇE                                   55
OSMANLICA,TÜRKÇE                         36
İTALYANCA                                29
OSMANLICA                                28
RUSÇA                                    28
İSPANYOLCA                               24
ALMANCA,TÜRKÇE                           12
FRANSIZCA,TÜRKÇE                          7
RUSÇA,TÜRKÇE                              7
ÇİNCE,İNGİLİZCE                           6
TÜRKÇE,OSMANLICA                          6
FARSÇA,TÜRKÇE                             6
KORECE                                    5
ERMENİCE                                  5
FARSÇA                                    4
İSPANYOLCA,TÜRKÇE                         4
TÜRKÇE,ARAPÇA                             4
BOŞNAKÇA                                  4
KÜRTÇE,TÜRKÇE                             3
JAPONCA,TÜRKÇE                            3
İTALYANCA,TÜRKÇE                          3
ALMANCA,FRANSIZCA,İNGİLİZCE,TÜRKÇE        2
ARAPÇA,İNGİLİZCE                          2
dtype: int64

In [99]:
df.isnull().sum()

Book Name                     0
Book Genre                    0
Author Name                1233
Publisher                     1
Publish Date                542
Purchase Info              1471
Page Numbers                559
Cover Type                   59
Paper Type                   69
Size                        461
Language                     56
Rate                       8631
Rating Count               8631
Review Count              12282
Fav Count                     1
To-Read List Count          112
Price                        89
Discount                    317
Time Since Publication      542
dtype: int64

In [100]:
df.value_counts("Book Genre")

Book Genre
Edebiyat                  8948
Çocuk Kitapları           3530
İslam                     2337
Tarih                     1729
Siyaset                   1096
Diğer Dildeki Yayınlar     816
Orijinal Dil               782
Eğitim                     753
Felsefe-Düşünce            744
Ekonomi                    680
Diğer                      671
Kişisel Gelişim            546
Bilim & Mühendislik        427
Sosyoloji                  425
Psikoloji                  388
Akademik                   365
Sınav                      355
Sağlık-Tıp                 297
Ders Kitapları             272
Kültür                     250
Hukuk                      244
Sanat                      222
Başvuru Kitapları          215
Din                        208
Sinema-Tiyatro             207
Spor                       102
Eğlence-Mizah               96
Müzik                       93
Bilgisayar                  60
Şehir Kitapları             57
Kadın-Erkek                 47
İstanbul Kitapları          38
dtype: int64

In [111]:
language_counts = df['Language'].value_counts()

# Identify languages with counts below 150
infrequent_languages = language_counts[language_counts < 150].index

# Create a new category 'Other' for infrequent languages
df['Language_categorized'] = df['Language'].apply(lambda x: 'Other' if x in infrequent_languages else x)

In [115]:
df.head()

,Book Name,Book Genre,Author Name,Publisher,Publish Date,Purchase Info,Page Numbers,Cover Type,Paper Type,Size,Language,Rate,Rating Count,Review Count,Fav Count,To-Read List Count,Price,Discount,Time Since Publication,Language_categorized
0,Saklı Asa,Edebiyat,Anooshirvan Miandji,BİLGİ YAYINEVİ,31/10/2022,577.0,112.0,1.0,1.0,259.35,TÜRKÇE,5.0,6.0,4.0,203.0,16.0,62.10,Kazanacağınız Puan: 90,393.0,1.0
1,Eski Türklerde Gündelik Hayat,Tarih,Prof. Dr. Erhan Aydın,KRONİK KİTAP,19/04/2022,874.0,496.0,1.0,1.0,283.50,TÜRKÇE,4.0,30.0,11.0,1176.0,68.0,128.70,Kazanacağınız Puan: 110,588.0,1.0
2,Kolaydan Zora Süper Boyama 1,Çocuk Kitapları,NaN,PİNOKYO YAYINLARI,12/09/2023,NaN,160.0,1.0,2.0,513.00,TÜRKÇE,NaN,NaN,NaN,0.0,0.0,87.69,Kazanacağınız Puan: 176,77.0,1.0
3,Bir İlkbahar Macerası (Cep Boy),Edebiyat,Milly Johnson,HYPERION KİTAP,25/07/2016,154.0,528.0,1.0,1.0,173.25,TÜRKÇE,4.0,10.0,3.0,53.0,4.0,14.40,Kazanacağınız Puan: 28,2682.0,1.0
4,Pembe Ayı,Çocuk Kitapları,Melanie Joyce,TÜRKİYE İŞ BANKASI KÜLTÜR YAYINLARI,02/07/2020,218.0,24.0,1.0,4.0,625.00,TÜRKÇE,5.0,15.0,7.0,74.0,1.0,25.60,Kazanacağınız Puan: 38,1244.0,1.0

In [116]:
df.value_counts("Language_categorized")

Language_categorized
1.0    25577
4.0      643
2.0      558
3.0      166
dtype: int64

In [114]:
lg = [language for language in df["Language_categorized"]]
language_mapping = { 'TÜRKÇE':1, 'İNGİLİZCE':2, 'ARAPÇA':3, 'Other':4}

df["Language_categorized"] = df["Language_categorized"].map(language_mapping)
df["Language_categorized"]

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
26995    1.0
26996    1.0
26997    1.0
26998    1.0
26999    1.0
Name: Language_categorized, Length: 27000, dtype: float64